html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

._hide {
    display: none;
}

._invisible {
    visibility: hidden;
 }
._checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.25rem;
}

ul {

}
._checkBoxPadding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 78px;
}
._formSelector {
    height: max-content;
}

._noDecoration {
    text-decoration: none;
    color: #212529;
}
._checkbox {
}
._validatinCheckbox {
    align-self: center;
}

._userBox{
    margin-left: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}