@{
    ViewData["Title"] = "Choose a Template";
}
<h1 class="text-center">Please Choose a Template</h1>
<hr />
<br />
<div class="_imageContainer">
    <div class="_imageComponent hovered-element ">
        <a href="@Url.Action("PostPage", new { Template = "PostTemplate1" })">
            <img src="~/imgs/Template1.png" class="img-fluid" />
        </a>

    </div>
    <div class="_imageComponent hovered-element ">
        <a href="@Url.Action("PostPage", new { Template = "PostTemplate2" })">
            <img src="~/imgs/Template2.png" class="img-fluid" />
        </a>
    </div>
    <div class="_imageComponent hovered-element ">
        <a href="@Url.Action("PostPage", new { Template = "PostTemplate3" })">

            <img src="~/imgs/Template3.png" class="img-fluid" />
        </a>

    </div>
</div>
