@{
    ViewData["Title"] = "Create a Post";
}
@model PostViewModel

<h1>Create a New Post Template 1</h1>

<form class="was-validated" enctype="multipart/form-data" asp-action="SubmitPost" method="post">
    <div class="custom-control col">
        <label class="sr-only">Title</label>
        <input class="form-control custom-control-input" type="text" alt="Post Title" placeholder="PostTitle" name="Title" required />
        <div class="invalid-feedback">Title is Requiered !</div>
    </div>

    <div class="custom-control col">
        <label class="sr-only">Description</label>
        <textarea class="form-control custom-control-input" aria-label="With textarea" name="Description" required></textarea>
        <div class="invalid-feedback">Description is Requiered !</div>

    </div>
    <div class="row">
        <div class="col">
            <label class="sr-only">Upload Media</label>
            <br />
            <input type="file" class="_uploadFile" aria-label="With textarea" name="files" multiple />
        </div>
        <div class="form-group col _errorMessages">
            <ul class="_errorList text-danger">
                @foreach (var errorMessage in Model.ErrorMessages)
                {
                    <li>@errorMessage</li>
                }
            </ul>
        </div>
    </div>


    <br />
    <div class="col">
        <button class="btn btn-primary mb-2"> Upload </button>
    </div>


</form>


<script src="~/js/ClientSizeError.js"></script>
