@{
    ViewData["Title"] = "Create a Post";
}

<h1> This is the post page</h1>

<form enctype="multipart/form-data" asp-action="SubmitPost" method="post">
    <div class="col">
        <label class="sr-only">Title</label>
        <input class="form-control" type="text" alt="Post Title" placeholder="PostTitle" name="Title" />
    </div>

    <div class="col">
        <label class="sr-only">Description</label>
        <textarea class="form-control" aria-label="With textarea" name="Description"></textarea>
    </div>
    <div class="col">
        <label class="sr-only">Upload Media</label>
        <input type="file" class="form-control" aria-label="With textarea" name="files" multiple/>
    </div>
    <br />
    <button class="btn btn-primary mb-2"> Upload </button>
</form>

<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
