@model UserViewModel
@{
    ViewData["Title"] = "Verification";
}
<h1> Welcome @Model.FirstName!</h1>
<h2> 2 steps away from your account!</h2>
<h2> Please enter the code sent to your email</h2>
<input type="text" />